<ion-view hide-nav-bar="true" view-title="Home" ng-controller="InfoCtrl">
  <div class="header">
    <button menu-toggle="left" class="button button-icon icon ion-navicon-round show-menu"></button>
    <img src="img/wmbr_top.png"/>

    <button ng-if="!(player.playing === 'http://wmbr.org/WMBR_live_128.m3u' && !player.audio.paused)"
            class="button button-icon icon ion-headphone play-stream"
            ng-click="player.toggleStream('http://wmbr.org/WMBR_live_128.m3u', 'Live Stream')">
            </button>

    <button ng-if="player.playing === 'http://wmbr.org/WMBR_live_128.m3u' && !player.audio.paused"
            class="button button-icon icon ion-stop play-stream"
            ng-click="player.toggleStream('http://wmbr.org/WMBR_live_128.m3u')">
            </button>

  </div>
  <ion-content class="with-main-header">
    <ion-refresher on-refresh="reload()"> </ion-refresher>
    <div class="info-box blue">
      <div class="title-box">Recent Tweets</div>
      <div id="twitter-box" class="details-box">
        Loading...
      </div>
    </div>
    <div class="info-box pink">
      <div class="title-box">Upcoming Special Events</div>
      <div class="details-box">
        <div ng-repeat="event in upcomingEvents">
          <p class="event-time">
            {{event.time}}
          </p>
          <p class="event-title">
            {{event.title}}
          </p>
          <div ng-if="!$last" class="hrule"></div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>