<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="200" class="side-menu">
      <img class="wmbr-logo" src="/img/wmbr_top white.png">
      <img class="radio-img" src="/img/track-blaster-logo.png">
      <ion-list>
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/info">
          Station Info
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
        <ion-item menu-close href="#/app/schedule">
          Schedule
        </ion-item>
        <ion-item menu-close href="#/app/archives">
          Archives
        </ion-item>
      </ion-list>
  </ion-side-menu>
</ion-side-menus>
